{% extends "core/index.html" %}
{% load crispy_forms_tags %}
{% block title %}Catálogo de filmes{% endblock %}
{% block content%}
<div style="max-width: 80%; position: absolute; padding-left: 10rem;">
    {% if form.errors %}
        {% for field in form%}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <form method="POST">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>  
{% endblock %}