{% extends "core/index.html" %}
{% block title %}Catálogo de filmes{% endblock %}
{% block content %}
<div class="container">
    <div class="table-container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-primary">Acervo de Filmes</h2>
            <span class="badge bg-secondary">{{ books|length }} Livros Cadastrados</span>
        </div>

        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Diretor</th>
                        <th>Gênero</th>
                        <th>Ano</th>
                        <th>Classificação</th>
                        <th>Duração</th>
                        <th>Streaming</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in object_list %}
                    <tr>
                        <td class="fw-bold text-muted"><a href="{{ movie.get_absolute_url }}">{{ movie.id }}</a></td>
                        <td>
                            <div class="fw-bold">{{ movie.titulo }}</div>
                        </td>
                        <td>
                            <small class="text-muted">{{ movie.diretor }}</small>
                        </td>
                        <td>{{ movie.genero }}</td>
                        <td>{{ movie.data_lancamento }}</td>
                        <td>
                                {{ movie.classificacao }}
                        </td>
                        <td><i class="bi bi-geo-alt"></i> {{ movie.duracao }}</td>
                        <td>{{ movie.streaming }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center py-4">Nenhum filme encontrado no sistema.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="create">
      <button type="button" class="btn btn-success" style="float: left; margin-bottom: 5px;">Adicionar</button>
    </a>
</div>

{% endblock %}